@charset "utf-8";
/* CSS Document */
header{
	width:16rem;
	height:4.5rem;
}
header .search{
	width:100%;
	height:2rem;
	padding:0 0.5rem;
	background:#f8f8f8;
}
header input{
	position:relative;
	width:13.8rem;
	height:1.45rem;
	padding-right:1.25rem;
	background:#dedede;
	border-radius:6px;
	font-size:1rem;
	color:#000;
	text-align:center;
	line-height:1.45rem;
}
header i{
	position:absolute;
	right:0.8rem;
	top:0.275rem;
	width:0.85rem;
	height:0.85rem;
	background:url(../img/hbg.png);
	background-size:100%;
}
header i a{
	display:block;
	width:100%;
	height:100%;
}
header .title{
	height:2.5rem;
	width:100%;
	padding-left:0.5rem;
	background:url(../img/hbg2.png) repeat-x;
}
.title a{
	width:3.05rem;
	height:1.45rem;
	margin-top:0.525rem;
	background:url(../img/hback.png);
	background-size:100%;
}
.title h1{
	width:3.7rem;
	height:0.975rem;
	margin-top:0.775rem;
	margin-left:2.5rem;
	text-indent:-999em;
	background:url(../img/juhuasuan.png);
	background-size:100%;
}
.banner{
	display:block;
	width:16rem;
	height:6.675rem;
}
.banner img{
	display:block;
	width:100%;
	height:100%;
}
.head{
	width:2.25rem;
	height:0.25rem;
	margin:0 auto;
	margin-top:0.525rem;
}
.head li{
	float:left;
	width:0.25rem;
	height:0.25rem;
	background:#a9a9a9;
	border-radius:50%;
	margin-right:0.25rem;
}
.head li a{
	display:block;
	width:100%;
	height:100%;
}
.head li:last-child{
	margin-right:0;
	background:#ff4300;
}
.menu{
	margin-top:1.05rem;
	padding:0 1.25rem 0 1.35rem;
}
.menu a{
	float:left;
	width:2rem;
	height:3.025rem;
	margin-right:1.775rem;
	margin-bottom:0.975rem;
}
.menu a:nth-child(4n){
	margin-right:0;
}
.menu a span{
	display:block;
}
.menu a span:first-child{		
	width:2rem;
	height:2rem;
	background-size:100%;
	margin-bottom:0.475rem;
}
.menu a span:last-child{
	font-size:0.6rem;
	text-align:center;
	color:#9f9f9f;
}
.menuname1 span:first-child{		
	background:url(../img/icon1.png);
}
.menuname2 span:first-child{		
	background:url(../img/icon2.png);
}
.menuname3 span:first-child{		
	background:url(../img/icon3.png);
}
.menuname4 span:first-child{		
	background:url(../img/icon4.png);
}	
.menuname5 span:first-child{		
	background:url(../img/icon5.png);
}
.menuname6 span:first-child{		
	background:url(../img/icon6.png);
}
.menuname7 span:first-child{		
	background:url(../img/icon7.png);
}
.menuname7 span:last-child{
	position:relative;
}
.menuname7 span i{
	position:absolute;
	left:0;
	top:50%;
	margin-top:-0.125rem;
	width:0.25rem;
	height:0.25rem;
	background:url(../img/yuan.png);
	background-size:100%;
}
.menuname8 span:first-child{		
	background:url(../img/icon8.png);
}
.hot-nav{
	margin:0.6rem 0.5rem 0 0.5rem;
	padding-bottom:0.525rem;
	border-bottom:4px solid #dcdcdc;
}
.hot-nav h2{
	color:#333;
	font:bold 0.7rem "微软雅黑";
	border-left:4px solid #d51938;
	padding-left:0.55rem;
}
.hot-nav span{
	color:#333;
	font:bold 0.7rem "微软雅黑";
}
.hot-list{
	padding:0.775rem 0.5rem 0 0.5rem;
}
.hot-list li{
	margin-bottom:0.5rem;
	height:3rem;
	background:#f4f4f4;
}
.hot-list li a{
	display:block;
	width:100%;
	height:100%;
}
.hot-list li a .num{
	width:1.5rem;
	height:3rem;
	background:#e00202;
	color:#fff;
	font:bold 0.7rem "黑体";
	text-align:center;
	line-height:3rem;
}
.hot-list li a .num2{
	background:#ff4800;
}
.hot-list li a .num3{
	background:#ff7300;
}
.hot-list li a .num4{
	background:#ff9d00;
}
.hot-list li a .num5{
	background:#ffa800;
}
.hot-list li a .num6{
	background:#ffb400;
}
.hot-list li a .num7{
	background:#ffba00;
}
.hot-list li a .num8{
	background:#fcd000;
}
.hot-list li a .num9{
	background:#ffd719;
}
.hot-list li a .num10{
	background:#ffe152;
}
.hot-list li a img{
	display:block;
	width:4.5rem;
	height:3rem;
	margin-right:0.55rem;
}
.hot-list li a b{
	margin-top:0.575rem;
}
.hot-list li a b i{
	display:block;
	font:0.6rem "微软雅黑";
	color:#999;
	line-height:0.9rem;
}
.hot-list .s1{
	color:#c7223d;
}
.hot-list .s2{
	text-decoration:line-through;
}
.hot-list .s3{
	position:relative;
	font:bold 0.8rem "黑体";
	color:#d51938;
	padding-right:1.15rem;
	height:3rem;
	line-height:3rem;
}
.hot-list .s3 i{
	position:absolute;
	top:50%;
	margin-top:-0.275rem;
	right:0.5rem;
	width:0.325rem;
	height:0.55rem;
	background:url(../img/rrow.png);
	background-size:100%;
} 
.shopping h3{
	height:2rem;
	padding:0 0.5rem;
	background:#f5f5f5;
	font:0.7rem "微软雅黑";
	color:#666;
	text-align:center;
	line-height:2rem;
}
.shopping{
	padding:0 0.5rem;
}
.shopping h3{
	position:relative;
}
.shopping h3 i{
	position:absolute;
	top:50%;
	margin-top:-0.275rem;
	right:0.5rem;
	width:0.325rem;
	height:0.55rem;
	background:url(../img/rrow.png);
	background-size:100%;
}
.shopping-list{
	width:100%;	
}
.shopping-list img{
	display:block;
	width:3.75rem;
	height:8.8rem;
}
.shopping-list ul{
	width:11.25rem;
}
.shopping-list ul li{
	float:left;
	width:3.75rem;
	height:2.21rem;
	margin-right:-1px;
	margin-bottom:-1px;
	font-size:0.7rem;
	text-align:center;
	line-height:2.21rem;
	border:1px solid #eee;
	box-sizing:border-box;
}
.shopping-list ul li a{
	color:#999;
	font:0.6rem "微软雅黑";
}
.shopping-list ul li:nth-child(1) a,.shopping-list ul li:nth-child(6) a,.shopping-list ul li:nth-child(8) a{
	color:#d51942;
}
footer .down{
	padding:0 0.5rem;
	margin:1.1rem 0 0.5rem 0;
}
.down a{
	float:left;
	width:5rem;
	height:4rem;
}
.down a img{
	display:block;
	width:100%;
	height:100%;
}
.info{
	width:14.5rem;
	height:2.225rem;
	background:#f8f8f8;
	padding:0 0.75rem;
}
.info a{
	color:#333;
	font:bold 0.7rem "微软雅黑";
	line-height:2.225rem;
}
.info .login{
	margin-right:1.15rem;
}
.info .back{
	position:relative;
	padding-right:1.6rem;
}
.info .back i{
	position:absolute;
	right:0.65rem;
	top:50%;
	margin-top:-0.1125rem;
	width:0.425rem;
	height:0.225rem;
	background:url(../img/s.png);
	background-size:100%;
}
.info2{
	height:8.55rem;
	background:#eee;
	text-align:center;
	padding-top:1rem;
}
.info2 .p1 a{
	color:#333;
	margin-left:0.65rem;
	font:bold 0.7rem "微软雅黑";
}
.info2 .p2{
	margin-top:0.8rem;
	font:0.55rem "微软雅黑";
	color:#999;
}


