@charset "utf-8";
/* CSS Document */
.container{
	width:1000px;
	margin:0 auto;
}
.loginbar{
	height:50px;
}
.loginbar_left a{
	display:block;
	background:url(../img/logo.png) no-repeat;
	width:86px;
	height:36px;
	text-indent:-9999em;
	padding-left:24px;
	padding-right:17px;
	margin-top:6px;
	border-right:1px solid #cecece;
}
.loginbar_right{
	float:right;
	margin-right:10px;
}
.money a{
	float:left;
	height:50px;
	padding-left:30px;
	padding-right:21px;
	position:relative;
	line-height:50px;
}
.money i{
	position:absolute;
	width:25px;
	height:24px;
	background:url(../img/cyou_sprite.png) no-repeat;
}
.money .icon1{
	background-position:-139px 0;
	left:0;
	top:11px;
}
.money .icon2{
	background-position:-189px 0;
	left:0;
	top:11px;
}
.money .icon3{
	background-position:0 -104px;
	left:0;
	top:11px;
}
.service li{
	float:left;
	padding:0 29px;
	line-height:50px;
	border-left:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	margin-right:-1px;
	position:relative;
}
.service li i{
	position:absolute;
	background:url(../img/cyou_sprite.png) no-repeat -206px -148px;
	width:7px;
	height:4px;
	top:23px;
	right:17px;

}
.loginbar_bg{
	background:url(../img/bg.png) no-repeat;
	height:5px;
}
.banner{
	background:url(../img/header_main.jpg) no-repeat;
	height:551px;
	position:relative;
}
.nav h2 a{
	float:left;
	width:190px;
	height:100px;
	background:url(../img/logo.gif) no-repeat;
	text-indent:-9999px;
}
.nav li a{
	display:block;
	font:16px/1 "微软雅黑";
	color:#bebebe;
	margin-bottom:5px;	
}
.nav li{
	padding:0 7px;
	text-align:center;
	float:left;
}
.nav li .a2{
	font:8px/1 "Arial";
}
.nav .cp{
	padding-right:4px;
}
.nav ul{
	margin-top:38px;
	
}
.gift{
	position:absolute;
	width:31px;
	height:122px;
	background:url(../img/gift.png) no-repeat;
	left:0;
	top:50%;
	margin-top:-61px;
}
.gift a{
	display:block;
	width:31px;
	height:122px;
}
.content{
	background:url(../img/content.jpg) no-repeat;
}
.download{
	height:109px;
}
.download_left a{
	float:left;
	height:109px;
	background:url(../img/sprite.jpg) no-repeat;
}
.download_left .down1{
	width:216px;
	background-position:0 0;
}
.download_left .down2{
	width:101px;
	background-position:-216px 0;
}
.download_left .down3{
	width:100px;
	background-position:-318px 0;
}
.download_left .down4{
	width:99px;
	background-position:-419px 0;
}
.download_left .down5{
	width:97px;
	background-position:-520px 0;
}
.download_left a:hover{
	background:url(../img/sprite.jpg) no-repeat;
}
.download_left .down1:hover{
	width:216px;
	background-position:0 -110px;
}
.download_left .down2:hover{
	width:101px;
	background-position:-216px -110px;
}
.download_left .down3:hover{
	width:100px;
	background-position:-318px -110px;
}
.download_left .down4:hover{
	width:99px;
	background-position:-419px -110px;
}
.download_left .down5:hover{
	width:97px;
	background-position:-520px -110px;
}
.download_right .top{
	background:url(../img/sever.png)no-repeat;
	width:276px;
	height:45px;
	margin-left:13px;
	margin-top:7px;
	padding-left:85px;
	padding-top:10px;
}
.top p{
	font:14px/1 "微软雅黑";
	color:#adb9e0;
}
.top .p1{
	margin-bottom:8px;
}
.top p a{
	color:#f00000;
}
.download_right .bottom{
	width:381px;
	height:43px;
	background:url(../img/sprite.jpg) no-repeat 0 -218px;
	margin-top:4px;
}
.bottom p{
	font:12px/1 "微软雅黑";
	color:#adb9e0;
	padding-left:6px;
	padding-top:16px;
	position:relative;
	float:left;
}
.bottom p i{
	position:absolute;
	width:14px;
	height:14px;
	background:url(../img/sprite.jpg) no-repeat -603px -227px;
	left:157px;
}
.bottom p a{
	color:#f93d1a;
	text-decoration:underline;
}
.bottom p span{
	padding-left:48px;
}
.bottom .a1{
	float:right;
	width:41px;
	height:41px;
}
.bottom .a1:hover{
	background:url(../img/sprite.jpg) no-repeat 50% 50%;
    margin-top:2px;
}
.bottom .a4{
	margin-right:7px;
}
.bottom .a4:hover{
	background-position:-398px -221px;
}
.bottom .a3{
	margin-right:7px;
}
.bottom .a3:hover{
	background-position:-442px -221px;
}
.bottom .a2{
	margin-right:3px;
}
.bottom .a2:hover{
	background-position:-486px -221px;
}
.event{
	margin-bottom:31px;
}
.event_left{
	position:relative;
	width:616px;
	height:303px;
}
.event_left .list1 li{
	position:absolute;
}
.event_left .list1 li a{
    display:block;
	width:616px;
	height:303px;
}
.event_left .icon1{
	position:absolute;
	background:url(../img/slider_h_main.png) no-repeat;
	left:11px;
	top:10px;
	width:27px;
	height:63px;
}
.event_left .icon2{
	position:absolute;
	background:url(../img/slider_media.png) no-repeat;
	left:11px;
	top:83px;
	width:27px;
	height:63px;
}
.event_left .list2{
	position:absolute;
	right:9px;
	bottom:10px;
}
.event_left .list2 li{
	float:left;
	margin-left:3px;
}
.event_left .list2 li a{
	display:block;
	width:15px;
	height:15px;
	background:url(../img/yuan1.png) no-repeat;
}
.list2 li a:hover{
	background:url(../img/yuan2.png) no-repeat;
}
.event_left .list2 li .active{
	background:url(../img/yuan2.png) no-repeat;
}

.event_right .menu a{
	float:left;
	height:56px;
	width:96px;
	text-align:center;
	font:14px/1 "黑体";
	line-height:57px;
	color:#fefefe;
	background:url(../img/sprite.jpg) no-repeat 0 -263px;
}
.menu .menu1:hover{
	width:96px;
	background-position:0 -322px;
}
.menu .menu2:hover{
	width:96px;
	background-position:-95px -322px;
}
.event_right .news{
	background:#322e3f;
	padding-top:17px;
	padding-bottom:5px;
}
.menu .menu3:hover{
	width:96px;
	background-position:-190px -322px;
}
.menu .menu4:hover{
	width:96px;
	background-position:-285px -322px;
}
.event_right .menu .menu2{
	width:96px;
	background-position:-95px -322px;
}
.event_right .new{
	font:16px "黑体";
	color:#fe4100;
	background:url(../img/sprite.jpg) no-repeat 0 -378px;
	width:307px;
	height:26px;
	padding-top:9px;
	padding-left:40px;
	margin-left:19px;
}
.event_right .new_list{
	width:341px;
	margin-left:24px;
	margin-top:9px;
}
.event_right .new_list li{
	font:14px/1 "黑体";
	color:#9ca7ca;
	margin-bottom:12px;
}
.event_right .new_list a{
	color:#9ca7ca;
	white-space:nowrap;
	overflow:hidden;
	display:block;
	width:294px;
}
.new_list .icon{
	padding-left:20px;
	background:url(../img/more.jpg) no-repeat 0 50%;
	width:56px;
	height:13px;
}
/*夏日活动开始*/
.summer_event{
	margin-bottom:31px;
}
.summer_event a{
	float:left;
	width:242px;
	height:130px;
	border:1px solid #433b4f;
}
.summer_event .a1{
	background:url(../img/main_a2%20_1.jpg) no-repeat;
}
.summer_event .a2{
	background:url(../img/main_a2%20_2.jpg) no-repeat;
	margin:0 8px;
}
.summer_event .a3{
	background:url(../img/main_a2%20_3.jpg) no-repeat;
	margin-right:8px;
}
.summer_event .a4{
	background:url(../img/main_a2_4.jpg) no-repeat;
}
/*夏日活动结束*/
.role_left{
	width:658px;
}
.role_left .top{
	height:60px;
	background:url(../img/sprite.jpg) no-repeat 0 -412px;
}
.role_left .top a{
	float:left;
	width:131px;
	height:60px;
}
.top .a1:hover{
	background:url(../img/sprite.jpg) no-repeat 0 -471px;
}
.top .a2:hover{
	width:130px;
	background:url(../img/sprite.jpg) no-repeat -131px -471px;
}
.top .a3:hover{
	width:130px;
	background:url(../img/sprite.jpg) no-repeat -262px -471px;
}
.top .a4:hover{
	width:130px;
	background:url(../img/sprite.jpg) no-repeat -393px -471px;
}
.top .a5:hover{
	width:130px;
	background:url(../img/sprite.jpg) no-repeat -524px -471px;
}
.top .active{
	background:url(../img/sprite.jpg) no-repeat -393px -471px;
}
.role{
	margin-bottom:30px;
}
.role_left .bottom{
	width:656px;
	height:287px;
	background:url(../img/zhanshi.jpg) no-repeat;
}
.role_right{
	margin-left:20px;
}
.role_right h3{
	font:20px/31px "微软雅黑";
	color:#f3ca90;
	padding-left:41px;
	background:url(../img/sprite.jpg) no-repeat -628px 0;
}
.role_right .a1{
	position:relative;
	display:block;
	border:1px solid #433b4f;
}
.role_right .a1 .s1{
	position:absolute;
	width:319px;
	height:36px;
	background:#000;
	opacity:0.3;
	filter:alpha(opacity:30);
	left:0;
	bottom:0;
}
.role_right .a1 i{
	font:14px "微软雅黑";
	color:#fff;
	position:absolute;
	left:5px;
	bottom:10px;
}
.role_right li{
	background:url(../img/role.png) no-repeat;
	width:299px;
	height:25px;
	padding-top:5px;
	padding-left:20px;
	font:14px/1 "微软雅黑";
	color:#a6b2d8;
	margin-bottom:3px;
}
.role_right .a2{
	color:#a6b2d8;
}
.role_right .s2{
	margin-right:6px;
}
.game_data{
	width:1000px;
	background:url(../img/back.png) no-repeat;
}
.game .data_left .entry{
	width:215px;
	height:189px;
	background:url(../img/sprite.jpg) no-repeat 0 -556px;
}
.game .data_left .entry h3{
	font:16px/1 "微软雅黑";
	color:#dbca90;
	padding-top:15px;
	text-align:center;
}
.entry ul{
	padding-left:23px;
	padding-top:24px;
}
.entry .entry_left{
	padding-left:38px;
}
.entry ul li{
	margin-bottom:13px;
    
}
.entry ul li a{
	font:14px "微软雅黑";
	color:#9587ab;
}
.game .videos a{
	display:block;
	width:215px;
	height:262px;
	background:url(../img/main_a3.jpg) no-repeat;
	margin-top:23px;
}
.game .media h3{
	font:16px/1 "微软雅黑";
	background:url(../img/sprite.jpg) no-repeat -451px -273px;
	width:205px;
	height:36px;
	margin-top:5px;
	margin-left:5px;
	text-align:center;
	line-height:36px;
	margin-bottom:21px;
}
.media h3 a{
	color:#b1a1ca;
}
.media .tuzi{
	display:block;
	width:216px;
	height:265px;
	background:url(../img/examen.jpg) no-repeat 0 0;
}
.media .tuzi:hover{
	background-position:-215px 0;
}
.data_middle .middle_t h3{
	font:20px/30px "微软雅黑";
	color:#f3ca90;
	padding-left:49px;
	background:url(../img/sprite.jpg) no-repeat -607px -349px;
	margin-bottom:13px;
}
.middle_t .exchange li{
	float:left;
	width:104px;
	height:47px;
	font:14px "微软雅黑";
	text-align:center;
	line-height:47px;
	border:1px solid #433b4f;
	margin-right:-1px;
}
.middle_t .exchange .u1{
	position:relative;
	padding-left:30px;
	width:74px;
}
.middle_t .exchange .u1 .more{
	position:absolute;
	background:url(../img/more.jpg) no-repeat;
	width:13px;
	height:13px;
	left:20px;
	top:17px;
}
.middle_t .exchange a{
	color:#a295b7;
	display:block;
}
.middle_t .exchange .active{
	background:#322b3c;
	color:#fefeff;
}
.middle_t .exchange .active2{
	color:#322b3c;
}
.exchange .exchange_li{
	position:relative;
}
.exchange .exchange_li .cb{
	position:absolute;
	width:104px;
	height:3px;
	background:#322b3c;
	left:0;
	bottom:-1px;
}
.data_middle .detail img{
	border:1px solid #322b3c;
}
.detail{
	padding-top:23px;
	padding-left:20px;
	padding-bottom:24px;
	background:#322b3c;
	border:1px solid #433b4f;
	border-top:none;
}
.detail ul{
	margin-left:17px;
}
.detail li{
	margin-bottom:11px;
}
.detail a{
	font:14px/1 "微软雅黑";
	color:#a295b7;
	
}
.data_middle_t{
	margin-bottom:37px;
	margin-left:19px;
}
.data_right{
	margin-left:22px;
}
.data_right .rt h3{
	font:20px/30px "微软雅黑";
	color:#f3ca90;
	padding-left:49px;
	background:url(../img/sprite.jpg) no-repeat -607px -349px;
	margin-bottom:13px;
}
.rt .rt_date{
	border:1px solid #4b3f5c;
}
.rt .rt_date ul{
	padding:0 18px;
}
.rt .rt_date ul li{
	padding:16px 0;
	border-bottom:1px dashed #594f67;
	font:14px/1 "微软雅黑";
	color:#fff;
}
.rt .rt_date ul .cd{
	border-bottom:none;
}
.rt_date ul li i{
	float:left;
	width:74px;
	height:26px;
	background:url(../img/rt1.png) no-repeat;
	padding-left:6px;
	line-height:26px;
	margin-right:15px;
}
.rt_date ul li a{
	float:left;
	color:#9587ab;
	padding:0 3px;
	border-right:2px solid #594f67;
	margin-top:7px;
}
.rt_date ul li .cb{
	border-right:none;	
}
.rt_date .data a{
	display:block;
	background:url(../img/ziliaozhan.png) no-repeat;
	width:285px;
	height:45px;
	font:22px/1 "微软雅黑";
	color:#b1a1ca;
	text-align:center;
	line-height:35px;
	margin-left:17px;
	margin-bottom:18px;
	margin-top:5px;
}
.data_right .rb h3{
	font:20px/30px "微软雅黑";
	color:#f3ca90;
	padding-left:49px;
	background:url(../img/sprite.jpg) no-repeat -607px -349px;
	margin-bottom:13px;
}
.rb{
	margin-top:37px;
}
.rb .exchange li{
	float:left;
	width:104px;
	height:47px;
	font:14px "微软雅黑";
	text-align:center;
	line-height:47px;
	border:1px solid #433b4f;
	margin-right:-1px;
}
.rb .exchange .u1{
	position:relative;
	padding-left:30px;
	width:79px;
}
.rb .exchange .u1 .more{
	position:absolute;
	background:url(../img/more.jpg) no-repeat;
	width:13px;
	height:13px;
	left:20px;
	top:17px;
}
.rb .exchange a{
	color:#a295b7;
	display:block;
}
.rb .exchange .active{
	background:#322b3c;
	color:#fefeff;
}
.rb .exchange .exchange_li{
	position:relative;
}
.rb .exchange .exchange_li .cb{
	position:absolute;
	width:104px;
	height:3px;
	background:#322b3c;
	left:0;
	bottom:-1px;
}
.detail2{
	padding-top:23px;
	padding-left:11px;
	padding-bottom:7px;
	background:#322b3c;
	border:1px solid #433b4f;
	border-top:none;
}
.detail2 ul{
	width:296px;
	
}
.detail2 ul li{
	float:left;
	margin-bottom:23px;	
}
.detail2 ul .zm{
	margin-right:22px;
}
.game_notice p{
	font:16px/1 "微软雅黑";
	color:#908c9b;
}
.game_notice .p1{
	background:url(../img/game_anc.jpg) no-repeat;
	width:893px;
	height:30px;
	margin-left:58px;
	text-align:center;
	padding-top:15px;
	margin-top:-11px;
	margin-bottom:5px;
}
.game_notice .p2{
	text-align:center;
	margin-bottom:15px;
}
.game_notice .p3{
	text-align:center;
	padding-bottom:38px;
}
.foot .bg{
	background:url(../img/bg2.png) no-repeat;
	width:1000px;
	height:10px;
}
.foot .copyright{
	background:url(../img/bg3.png) no-repeat;
	width:1000px;
	height:100px;
}